@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing-dot {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-5px);
    opacity: 1;
  }
  60% {
    transform: translateY(-2px);
    opacity: 0.7;
  }
}

.typing-dot {
  display: inline-block;
  margin: 0 1px;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  animation: typing-dot 1.2s infinite;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* Works for Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
  width: 6px; /* thin scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: transparent; /* remove the white background */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* Tailwind green-500 */
  border-radius: 9999px; /* rounded */
}

/* Works for Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: #22c55e transparent;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
